.main {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.box {
  background-color: #212121;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 1200px;
}
